<div class="container text-center login-screen" style="display: none;">
    <!-- ng-container is a specialized Angular Bootstrap container that allows us to perform logical operations within the template -->
    <!-- ngIf will allow us to check if a value within our component class equates to either true/false-->
    <!-- if true, this container will show, false = no container will render to the page -->
    <!-- Q: What is a pipe in Angular? -->
    <!-- Pipes are used to format data from one format to the next. Pipes are able to do this by changing how the data is displayed and can be seen with the long-bar syntax ( aka '|') -->
    <!-- Angular does have built-in pipes like uppercasepipe, lowercasepipe, currencypipe. But we also have the ability to make custom pipes in Angular by running 'ng generate pipe <your-pipe-name>' in Angular CLI -->
    
    <ng-container class="logout-screen" id="logout-btn" *ngIf="(isAuthenticated$ | async ) === false else loggedOut">
        <!-- Event binding = binds the event that the user triggers and performs operations that are then listed in the component class = from the view to the model -->
        <button class="login-btn" (click)="logout()">Log Out</button>
    </ng-container>

    <!-- Now I need to provide the template for condition/component class value 'loggedOut' -->
    <ng-template #loggedOut class="center-screen login-screen" id="login-form">
        <!-- regular form stuff + more Angular Reactive stuff here -->
        <h4 class="main-title">Welcome to the Site</h4>
        <p class="desc">Please sign in</p>
        <form class="text-center center">
            <!-- here is where I can define the form groups to allow Angular to start watching for changes in this form when submitted -->
            <div class="form-row">
                <div class="form-group col-md-12 mb-2">
                    <label for="inputUsername">Username</label>
                    <!-- here is where I bind this input field to check for valid input by ngModel = two-way binding here -->
                    <input type="text" name="username" id="inputUsername" class="form-control mx-auto my-0" [(ngModel)]="user.username">
                </div>
                <div class="form-group col-md-12 mb-5">
                    <label for="inputPassword">Password</label>
                    <!-- here is where I bind this input field to check for valid input by ngModel = two-way binding here -->
                    <input type="password" name="password" id="inputPassword" class="form-control mx-auto my-0" [(ngModel)]="user.password">
                </div>
            </div>
            <button (click)="login($event)" class="btn btn-primary login-btn">Log in</button>
        </form>

        <!-- This footer section will hold the link to go to the registration page -->
        <footer id="register-section" class="fixed-bottom bottom-10 login-screen">
            <div class="text-center center">
                <!-- here we can add a routerLink rather than a href attribute to provide a URL link to the registration (thus using our Router class here) -->
                <p class="info-card">Don't have an account? Sign up <a routerLink="/register">here</a>!</p>
                <br>
                <!-- In Angular, resources like images and fonts have to be located inside of the assets folder in order for Angular to render them to the browser -->
                <img src="../../../assets/images/goku-icon.png" alt="Goku Icon" class="logo">
            </div>
        </footer>
    </ng-template>
</div>
